{% extends "base.html" %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-black">
                    The new collections are here
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}"  class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
        <!-- New Releases -->
        <div class="section-holder">
            <div class="form-holder-xlg">   
                    <h1>New Releases</h1>
                    <div class="float-container">
                    <div class="new-rel-holder">
                        {% for product in products %}
                         <div class="new-rel-item">
                            {% if product.new_release %}
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="new-rel-img img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="new-rel-img img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <p class="mb-0">{{ product.name }}</p>
                                <p class="mb-0">{{ product.price }}</p>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    </div> 
                </div>     
            </div>
        </div>    
{% endblock %}