{% extends "base.html" %}
{% load static %}
{% block extra_title %}Home{% endblock %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
<!-- Carousel with three images-->
<div id="home-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#home-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ MEDIA_URL }}home/rugby_boots.jpg" class="carousel-image d-block w-100" alt="rugby boots">
        <div class="carousel-caption ">
            <h1 class="text-white ">Rugby Boots</h1>
            <p class="d-none d-md-inline text-white">View our collection of boots</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ MEDIA_URL }}home/rugby_scrum.jpg" class="carousel-image d-block w-100" alt="rugby scrum">
        <div class="carousel-caption  ">
            <h1 class="text-white">Jerseys</h1>
            <p class="d-none d-md-inline text-white">View our collection of jerseys</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ MEDIA_URL }}home/rugby_ball.jpg" class="carousel-image d-block w-100" alt="rugby ball">
        <div class="carousel-caption ">
            <h1 class="text-white">News</h1>
            <p class="d-none d-md-inline text-white">Keep up to date with our news</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#home-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#home-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'home/js/carousel.js' %}"></script>
{% endblock %}