{% extends "base.html" %}
{% load static %}
{% block extra_title %}Edit News Item{% endblock %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div>
    <div class="section-holder">
        <div class="form-holder-lg form-holder-generic">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="header-font mb-4 pt-2 text-center">News Item Management</h1>
                        <h2 class="text-muted text-center">Edit News Item</h2>
                        <hr>
                    </div>
                </div>
                <!-- Edit New Item -->
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-lg-8 pb-5">
                        <form method="POST" action="{% url 'edit_news_item' news_item.id %}" class="form mb-2" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in news_form %}
                            {% if field.name != 'image' %}
                                {{ field | as_crispy_field }}
                            {% else %}
                                {{ field }}
                            {% endif %}
                            {% endfor %}
                            <div class="text-center pb-3">
                                <a class="btn black-btn" href="{% url 'manage_news_items' %}">Cancel</a>
                                <button class="btn green-btn" type="submit">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'news/js/news.js' %}"></script>
{% endblock %}