   
.order-history {
    max-height: 416px; /* height of profile form + submit button */
    overflow-y: auto;
}

#profile-update-form .form-control {
    color: #000 !important;
}

#profile-update-form input::placeholder {
    color: #212529;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #212529;
}