/* ----- Google Fonts import ----- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* ----- Font ----- */
* {
    font-family: 'Poppins', sans-serif;
}
/* --- Global styling --- */
html {
    height: 100%;
}
body {
    background: rgb(0,0,0);
    background-size: cover;
}
a {
    color: #0B51C1;
}
.section-holder{
	padding: 50px 10px;
}
.form-holder{
    max-width: 600px;
    margin: auto;
    padding: 60px 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}
.form-holder-generic{
    max-width: 1000px;
}
.form-holder-lg{
    margin: auto;
    padding: 60px 50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}
.uppercase {
    text-transform: uppercase;
}
.form-control{
    padding: 0rem 0.75rem;
}
h1{
    font-size: 2.0rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
   font-size: 1.3rem;
}
/* ----- Start of Color palette ----- */
/* --- Global --- */
body {
    color: #555;
}
.favourites-page,
.products-page {
    color: white;
}
.form-holder, .form-holder-lg, .form-holder-xlg{
    background-color: #fff;
}
.red-strikethrough{
    text-decoration: line-through;
    color: #DB4437;
}
.bg-dark-green {
    background: #1E5128;
}
.dark-green {
    color: #1E5128;
}
.dark-red {
   color: #DB4437;
}
.font-white {
    color: white;
}
.text-primary {
   color: #1E5128 !important;
}
.bg-yellow {
    background-color: #F4B400
}
.font-black {
    color: #555555;
}
.font-black-bg {
    color: #555555;
    background-color: whitesmoke;
}
.btn-black {
    background: black;
    color: white;
}
.text-white {
    color: white;
}
.font-weight-bold {
    font-weight: bold;
}
.background-white {
    background: white;
}
.nav-link{
    color: #1E5128;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #DB4437;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #DB4437;
    border-radius: 0;
}
.black-btn{
    background-color: #191A19;
    color: white;
}
.bg-newcol{
    background-color: #D8E9A8;
}
.black-btn:hover{
    background-color: #191A19;
    color: white;
}
.green-btn {
    background-color: #1E5128;
    color: white;
 }
.green-btn:hover {
    background-color: #1E5128;
    color: white;
}
.news-items {
       background-color: whitesmoke;
}
.red-btn {
    background-color: #DB4437;
    color: white;
}
/* --- Pagination --- */
.page-link {
    color: #1E5128;
}
.page-item.active .page-link {
    background-color: #1E5128;
    border-color: green;
}
.page-item:last-child .page-link {
    color: #1E5128;
    border-color: green;
}
/* --- Edit Product --- */
.edit-product {
    background-color: whitesmoke;
}
/* ----- End of Color palette ----- */
/* ----- Start of Styling ----- */
/* --- Global --- */
/* --- Reference (https://bulma.io/) --- */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.logo-font {
    text-transform: uppercase;
}
.main-logo-link {
    width: fit-content;
}
.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}
.landing-image {
    max-height: 1000px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}
/* --- Boostrap toasts--- */
.custom-toast {
    overflow: visible;
}
.toast-capper {
    height: 2px;
}
/* --- Allauth --- */
.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #000;
}
.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}
.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}
/* --- Home Page/header/footer --- */
.logo {
    height: 55px;
    width: 180px;
}
.carousel-text-area {
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
}
.carousel-image {
   filter: brightness(30%);
}
.footer-text {
    font-size: 1.2rem;
}
.form-group {
    padding-bottom: 10px;
}
.mobile-nav-link-pd {
    padding: 0.5rem 0.5rem;
}
/* --- Product Detail --- */
.product-name{
    font-size: 1.8rem;
}
.pricing {
    font-size: 1.6rem; 
}
.favourite {
    font-size: 1.6rem;
    padding-left: 15px;
}
.favourite-remove {
    cursor: pointer;
}
/* --- Add Product --- */
.preview-image {
    width: 96px;
    height: 96px;
}
/* --- Pagination --- */
.pagination-holder {
    display: flex;
    justify-content: center;
}
.center-div {
    display: flex;
    justify-content: center;
}
/* --- Products page --- */
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: whitesmoke;
	z-index: -1;
}
.card {
    width: 300px;
    border: 0;
    margin: auto;
    margin-bottom: 10px;
}
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.btt-link {
    cursor: pointer;
}
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}
input[name='q']::placeholder {
    color: #aab7c4;
}
/* --- News page --- */
.card-img-top {
    width: 300px ;
    height: 300px ;
    border: 0;
    margin: auto;
    margin-bottom: 10px;
}
.news-card {
    width: 400px;
    border: 0;
    margin: auto;
    margin-bottom: 10px;
}
.news-card-img-top {
    width: 400px ;
    height: 400px ;
    border: 0;
    margin: auto;
    margin-bottom: 10px;
}
/* --- Shopping bag --- */
.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* ----- End of Styling ----- */
/* ----- Start of Media Queries ----- */
/* --- Greater than 1200px --- */
@media screen and (max-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
/* fixed top navbar only on medium and up */
@media screen and (max-width: 992px) {
  .fixed-top-desktop-only {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
  }
  .header-container {
      padding-top: 164px;
      background-color: white;
  }
}
/* --- Greater than 991px --- */
@media screen and (max-width: 991px) {
    .header-container {
        padding-top: 92px;
    }
    body {
        height: calc(100vh - 116px);
    }
    .display-4.logo-font.text-black {
        font-size: 2rem;
    }
    .nav-link {
        padding: 0.15rem;
    }
    .nav-link i.fa-lg {
        font-size: 1rem;
    }
    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }
    #delivery-banner h4 {
        font-size: .9rem;
    }
    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }
    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }
    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
    .message-container {
        top: 60px;
    }
}
/* --- Greater than 576px --- */
@media screen and (max-width: 576px) {
    .container {
      max-width: 100%;
    }
    .registration-form form {
        padding: 50px 20px;
    }
    .registration-form .form-icon {
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
    .news-card {
        width: 300px;
    }
    .news-card-img-top {
        width: 280px;
        height: 280px;
    }
    .card-img-top {
        width: 280px;
        height: 280px;
    }
}
/* SMALL SCREEN */
@media screen and (max-width: 481px) {
    .dropdown-menu {
        font-size: 0.8rem;
    }
    .message-container {
        top: 60px;
        right: 15px;
    }
}
/* X-SMALL SCREEN */
@media (max-width: 320px) {
    .container {
      max-width: 100%;
    }
    .news-card {
        width: 250px;
    }
    .news-card-img-top {
        width: 200px;
        height: 200px;
    }
    .card-img-top {
        width: 200px;
        height: 200px;
    }
    .dropdown-menu {
        font-size: 0.7rem;
    }
    .message-container {
        top: 60px;
        right: -25px;
    }
}
/* ----- End of Media Queries ----- */