<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="rugby-boots-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rugby Boots
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="rugby-boots-link">
                <a href="" class="dropdown-item">Adidas Kakari</a>
                <a href="" class="dropdown-item">Adidas Malice</a>
                <a href="" class="dropdown-item">All Rugby Boots</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="club-rugby-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Club Rugby
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="club-rugby-link">
                <a href="" class="dropdown-item">Leinster</a>
                <a href="" class="dropdown-item">Munster</a>
                <a href="" class="dropdown-item">Ulster</a>
                <a href="" class="dropdown-item">All Clubs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="training-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Training
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="training-link">
                <a href="" class="dropdown-item">Balls</a>
                <a href="" class="dropdown-item">Gum Shields</a>
                <a href="" class="dropdown-item">Protection</a>
                <a href="" class="dropdown-item">All Training</a>
            </div>
        </li>
    </ul>
</div>