{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block inner_content %}
<!-- Sign Up/Register form-->
<div class="section-holder">
  <div class="form-holder">
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    <h2 class="logo-font mb-4 text-center">{% trans "Register" %}</h2>
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    <div class="form-row">
      <div class="col-12">
      {{form|crispy}}
      </div>
    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <!-- Login and Sign Up/Register buttons-->
    <div class="float-right">
      <a class="btn black-btn" href="{% url 'account_login' %}">Back to Login</a>
      <button class="btn green-btn" type="submit">{% trans "Sign Up" %}</button>
    </div>
  </form>
</div>  
</div>
{% endblock %}